USE [FBS_VirgenDelCisne]
GO
/****** Object:  StoredProcedure [FBS_REPORTES].[L_DIASMORODIDADDIARIO]    Script Date: 9/4/2025 11:24:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
--exec  FBS_REPORTES.L_DIASMORODIDADDIARIO
ALTER PROCEDURE [FBS_REPORTES].[L_DIASMORODIDADDIARIO]
	
AS
BEGIN
	SET NOCOUNT ON;
	----------------SALDOS DISPONIBLE DR-----------------------------
	SELECT 
	CM.CODIGO,
    p.IDENTIFICACION,
    C.NUMEROCLIENTE,
    --CAST( CV.SALDO,'N2')SALDOTOTAL,
	CAST(CV.SALDO AS DECIMAL(18, 2))SALDOTOTAL,
    CASE 
    WHEN CV.SALDO>10 THEN CAST(CV.SALDO-10 AS DECIMAL(18,2))--FORMAT(CV.SALDO-10,'N2')
    ELSE '0'
    END SALDO_DISPONIBLE
	
   into #SALDODISPONIBLEA
    FROM FBS_CAPTACIONESVISTA.CUENTAMAESTRO CM 
    INNER JOIN FBS_CAPTACIONESVISTA.CUENTACOMPONENTE_VISTA CV ON CV.SECUENCIALCUENTA=CM.SECUENCIAL
    INNER JOIN FBS_CAPTACIONESVISTA.COMPONENTE_VISTA CVV ON CVV.SECUENCIALCOMPONENTE=CV.SECUENCIALCOMPONENTEVISTA
    INNER JOIN FBS_CAPTACIONESVISTA.COMPONENTE_VISTA_DISPONIBLE CS ON CS.SECUENCIALCOMPONENTEVISTA=CVV.SECUENCIALCOMPONENTE
    INNER JOIN FBS_CAPTACIONESVISTA.CUENTACLIENTE CC ON CC.SECUENCIALCUENTA=CM.SECUENCIAL AND CC.ESPRINCIPAL=1 AND CC.ESPRINCIPAL=1
    INNER JOIN FBS_CLIENTES.CLIENTE C ON C.SECUENCIAL=CC.SECUENCIALCLIENTE
    INNER JOIN FBS_PERSONAS.PERSONA P ON P.SECUENCIAL=C.SECUENCIALPERSONA
    WHERE CM.CODIGOTIPOCUENTA ='01'
    AND CM.CODIGOESTADO IN ('A','I')
    --AND CV.SALDO>10
	ORDER BY CM.CODIGO ASC
	--drop table #SALDODISPONIBLEA
	--------------FIN DR------------------
	select PM.*, 
	PA.SECUENCIALPRESTAMO,	VALORPARAESTARALDIA,	VALORCANCELARHASTACUOTACURSO,	VALORPROYECTADOHASTACUOTACURSO,	VALORPARACANCELAR,	DIASATRASO	,PRIMERACUOTAATRASADA	,FECHAPROXIMOPAGO	,CUANTASCUOTASATRASADAS	INFORMACIONCOMPLEMENTARIA
	,OFI.NOMBRE OFICINA, P.NOMBREUNIDO NOMBRES,--SD.SALDO_DISPONIBLE SALDODISPONIBLE
	(SELECT TOP 1 SALDO_DISPONIBLE FROM #SALDODISPONIBLEA
	WHERE IDENTIFICACION=P.IDENTIFICACION
	ORDER BY #SALDODISPONIBLEA.CODIGO ASC)AS SALDODISPONIBLE,
	(SELECT TOP 1 NUMEROCLIENTE FROM FBS_CLIENTES.CLIENTE
	WHERE SECUENCIALPERSONA=P.SECUENCIAL
	)AS NUMEROCLIENTE,
	(SELECT COUNT(*) NUMERO_OPERACIONES FROM FBS_CARTERA.PRESTAMOMAESTRO PRE
		   WHERE PRE.CODIGOESTADOPRESTAMO='Z'
		   AND PRE.SECUENCIALCLIENTEPRINCIPAL=CL.SECUENCIAL) NUMERO_OPERACIONES,
	TP.NOMBRE NOMBREPRODUCTO
	into #TEMP
	from FBS_CARTERA.PRESTAMOMAESTRO PM 
	INNER JOIN FBS_PERSONAS.PERSONA P ON P.IDENTIFICACION=PM.IDENTIFICACIONSUJETOORIGINAL
	inner join FBS_CLIENTES.CLIENTE CL on P.SECUENCIAL=Cl.SECUENCIALPERSONA
	INNER JOIN FBS_CREDITO.TIPOPRESTAMO TP on Pm.CODIGOTIPOPRESTAMO=TP.CODIGO
	--LEFT OUTER JOIN #SALDODISPONIBLEAV SD ON SD.IDENTIFICACION=P.IDENTIFICACION
	LEFT JOIN  FBS_CARTERA.PRESTAMO_INFORMACIONADICIONAL PA ON PA.SECUENCIALPRESTAMO=PM.SECUENCIAL
	LEFT JOIN FBS_GENERALES.DIVISION OFI on OFI.SECUENCIAL=PM.SECUENCIALOFICINA
	WHERE PM.CODIGOESTADOPRESTAMO<>'Z'

   Alter table #TEMP add PORVENCER decimal (10,2)
   Alter table #TEMP add NODEVENGA decimal (10,2)
   Alter table #TEMP add VENCIDO   decimal (10,2)
   Alter table #TEMP add AHORROPROGRAMADO   decimal (10,2)

   /*AHORRO PROGRAMADO */
   Update A SET AHORROPROGRAMADO=	isnull(SALDO,0)
   --SELECT PCa.SECUENCIALPRESTAMO, SECUENCIALCUENTAAHORROPROG, sum(CCV.SALDO)  SALDO
  FROM #TEMP A 
  left join(
  select PCa.SECUENCIALPRESTAMO, SECUENCIALCUENTAAHORROPROG, sum(CCV.SALDO)  SALDO
  from [FBS_VirgenDelCisne].[FBS_CARTERA].[PRESTAMO_CUENTAAHORROPROGRAMADO] PCA
  inner join [FBS_VirgenDelCisne].[FBS_CAPTACIONESVISTA].[CUENTACOMPONENTE_VISTA] CCV on PCA.SECUENCIALCUENTAAHORROPROG=CCV.SECUENCIALCUENTA and CCV.SECUENCIALCOMPONENTEVISTA=7137
  group by PCa.SECUENCIALPRESTAMO, SECUENCIALCUENTAAHORROPROG ) B on A.SECUENCIAL=B.SECUENCIALPRESTAMO
   /* */

	/*CASTIGADO*/
	Update A SET PORVENCER=	0,NODEVENGA=0,	VENCIDO=SALDOACTUAL FROM #TEMP A WHERE CODIGOESTADOPRESTAMO='G'
	/*CASTIGADO*/

	/*JUDICIAL*/
	Update A SET PORVENCER=	0,NODEVENGA=0,	VENCIDO=SALDOACTUAL FROM #TEMP A WHERE CODIGOESTADOPRESTAMO='J'
	/*JUDICIAL*/

	/*VENCIDO TOTAL*/
	Update A SET PORVENCER=	0,NODEVENGA=0,	VENCIDO=SALDOACTUAL FROM #TEMP A WHERE CODIGOESTADOPRESTAMO='T'
	/*JVENCIDO TOTAL*/

	/*AL DIA*/
	Update A SET PORVENCER=	B.VALOR,NODEVENGA=0,	VENCIDO=0 FROM #TEMP A 
	INNER JOIN (select PM.SECUENCIAL, sum((VALORCALCULADO-VALORCOBRADO)) VALOR from FBS_CARTERA.PRESTAMOMAESTRO PM 
	inner join FBS_CARTERA.PRESTAMOCOMPONENTE_CARTERA PC on PM.SECUENCIAL=PC.SECUENCIALPRESTAMO AND PC.CODIGOESTADOPRESTAMOCOMPONENTE not in ('C') and PC.SECUENCIALCOMPONENTECARTERA=44
	WHERE CODIGOESTADOPRESTAMO='A'
	group by PM.SECUENCIAL) AS B ON A.SECUENCIAL=B.SECUENCIAL
	WHERE CODIGOESTADOPRESTAMO='A'
	/*AL DIA*/

	/*MOROSO MENOR A 30 DIAS*/
	Update A SET PORVENCER=	B.VALOR,NODEVENGA=0,	VENCIDO=0 FROM #TEMP A 
	INNER JOIN (select PM.SECUENCIAL, sum((VALORCALCULADO-VALORCOBRADO)) VALOR from FBS_CARTERA.PRESTAMOMAESTRO PM 
	inner join FBS_CARTERA.PRESTAMOCOMPONENTE_CARTERA PC on PM.SECUENCIAL=PC.SECUENCIALPRESTAMO AND PC.CODIGOESTADOPRESTAMOCOMPONENTE not in ('C') and PC.SECUENCIALCOMPONENTECARTERA=44
	inner join  FBS_CARTERA.PRESTAMO_INFORMACIONADICIONAL PIA on PM.SECUENCIAL=PIA.SECUENCIALPRESTAMO
	WHERE CODIGOESTADOPRESTAMO='M' and PIA.DIASATRASO<=30
	group by PM.SECUENCIAL
	) AS B ON A.SECUENCIALPRESTAMO=B.SECUENCIAL
	WHERE CODIGOESTADOPRESTAMO='M'
	/*MOROSO MENOR A 30 DIAS*/

	/*VENCIDO NO INMOBILIARIO*/
	Update A SET PORVENCER=	0, NODEVENGA=A.SALDOACTUAL-C.VALOR,	VENCIDO=C.VALOR FROM #TEMP A 
	INNER JOIN FBS_CREDITO.SEGMENTOINTERNO SI on SI.SECUENCIAL=A.SECUENCIALSEGMENTOINTERNO
	INNER JOIN FBS_CREDITO.CALIFICACIONCONTABLE CAC on CAC.CODIGO=SI.CODIGOCALIFICACIONCONTABLE
	JOIN (select  PCC.SECUENCIALPRESTAMO, sum((PCC.VALORCALCULADO-PCC.VALORCOBRADO)) VALOR
	from FBS_CARTERA.PRESTAMOCOMPONENTE_CARTERA PCC
	join FBS_CARTERA.PRESTAMOMAESTRO PM on PCC.SECUENCIALPRESTAMO=PM.SECUENCIAL
	INNER JOIN FBS_CREDITO.SEGMENTOINTERNO SI on SI.SECUENCIAL=PM.SECUENCIALSEGMENTOINTERNO
	INNER JOIN FBS_CREDITO.CALIFICACIONCONTABLE CAC on CAC.CODIGO=SI.CODIGOCALIFICACIONCONTABLE
	where --SECUENCIALPRESTAMO=69980 and
	PCC.SECUENCIALCOMPONENTECARTERA=44
	AND PCC.CODIGOESTADOPRESTAMOCOMPONENTE not in ('C','P','A')
	and DIASATRASO>30
	AND PM.CODIGOESTADOPRESTAMO in ('V')
	group by PCC.SECUENCIALPRESTAMO) AS C on A.SECUENCIALPRESTAMO=C.SECUENCIALPRESTAMO
	WHERE CODIGOESTADOPRESTAMO='V'
	and CODIGOTIPOPRESTAMO NOT IN ('03')
	/*VENCIDO NO INMOBILIARIO*/

	/*VENCIDO NO INMOBILIARIO MENOR A 30*/
	UPDATE A
	SET PORVENCER=	SALDOACTUAL, NODEVENGA=0,	VENCIDO=0
	from #TEMP A 
	WHERE CODIGOESTADOPRESTAMO='V' AND CODIGOTIPOPRESTAMO Not in ('03')
	AND DIASATRASO<30
	/*VENCIDO NO INMOBILIARIO MENOR A 30*/
  
  /* VENCIDO INMOBILIARIO*/
  UPDATE A
	SET PORVENCER=	0, NODEVENGA=SALDOACTUAL-B.VALOR,	VENCIDO=B.VALOR
	from #TEMP A 
	INNER JOIN (
  select PCC.SECUENCIALPRESTAMO, SUM(VALORCALCULADO-VALORCOBRADO) VALOR
	from FBS_CARTERA.PRESTAMOCOMPONENTE_CARTERA  PCC
	inner join FBS_CARTERA.PRESTAMOMAESTRO PM on PCC.SECUENCIALPRESTAMO=PM.SECUENCIAL
	where 
	--PCC.SECUENCIALPRESTAMO=78658 and
	 PCC.SECUENCIALCOMPONENTECARTERA=44
	AND PCC.CODIGOESTADOPRESTAMOCOMPONENTE not in ('C','P','A')
	and PCC.DIASATRASO>60
	AND PM.CODIGOTIPOPRESTAMO in ('03')
	group by PCC.SECUENCIALPRESTAMO) B on A.SECUENCIALPRESTAMO=B.SECUENCIALPRESTAMO
  /* VENCIDO INMOBILIARIO*/

  /* PRE JUDICIAL*/
    UPDATE A
	SET PORVENCER=	0, NODEVENGA=SALDOACTUAL-B.VALOR,	VENCIDO=B.VALOR
	from #TEMP A 
	INNER JOIN (
  select PCC.SECUENCIALPRESTAMO, SUM(VALORCALCULADO-VALORCOBRADO) VALOR
	from FBS_CARTERA.PRESTAMOCOMPONENTE_CARTERA  PCC
	inner join FBS_CARTERA.PRESTAMOMAESTRO PM on PCC.SECUENCIALPRESTAMO=PM.SECUENCIAL
	where 
	--PCC.SECUENCIALPRESTAMO=78658 and
	 PCC.SECUENCIALCOMPONENTECARTERA=44
	AND PCC.CODIGOESTADOPRESTAMOCOMPONENTE not in ('C','P','A')
	and PCC.DIASATRASO>30

	group by PCC.SECUENCIALPRESTAMO) B on A.SECUENCIALPRESTAMO=B.SECUENCIALPRESTAMO
	where CODIGOESTADOPRESTAMO='I'
  /* PRE JUDICIAL*/

    /* PRE JUDICIAL AL DIA */
    UPDATE A
	SET PORVENCER=	0, NODEVENGA=SALDOACTUAL-B.VALOR,	VENCIDO=B.VALOR
	from #TEMP A 
	INNER JOIN (
  select PCC.SECUENCIALPRESTAMO, SUM(VALORCALCULADO-VALORCOBRADO) VALOR
	from FBS_CARTERA.PRESTAMOCOMPONENTE_CARTERA  PCC
	inner join FBS_CARTERA.PRESTAMOMAESTRO PM on PCC.SECUENCIALPRESTAMO=PM.SECUENCIAL
	where 
	--PCC.SECUENCIALPRESTAMO=78658 and
	 PCC.SECUENCIALCOMPONENTECARTERA=44
	AND PCC.CODIGOESTADOPRESTAMOCOMPONENTE not in ('P','A')
	--and PCC.DIASATRASO>30

	group by PCC.SECUENCIALPRESTAMO) B on A.SECUENCIALPRESTAMO=B.SECUENCIALPRESTAMO
	where CODIGOESTADOPRESTAMO='I'
	AND PORVENCER IS NULL


INSERT INTO [dbo].[L_DIASMORODIDADDIARIO]
           ([SECUENCIAL]
           ,[NUMEROPRESTAMO]
           ,[SECUENCIALEMPRESA]
           ,[CODIGOTIPOPRESTAMO]
           ,[CODIGOPRODUCTOCARTERA]
           ,[SECUENCIALSEGMENTOINTERNO]
           ,[SECUENCIALCONDICIONTABLAAMORTZ]
           ,[CODIGOSUBCALIFICACIONCONTABLE]
           ,[FRECUENCIAPAGO]
           ,[NUMEROCUOTAS]
           ,[DEUDAINICIAL]
           ,[VALORENTREGADO]
           ,[FECHAADJUDICACION]
           ,[FECHAVENCIMIENTO]
           ,[SECUENCIALMONEDA]
           ,[CODIGOESTADOPRESTAMO]
           ,[SALDOACTUAL]
           ,[CALIFICACIONACTUAL]
           ,[CALIFICACIONPEOR]
           ,[CODIGOUSUARIOOFICIAL]
           ,[SECUENCIALOFICINA]
           ,[COBRAPORROL]
           ,[SEREAJUSTA]
           ,[DIASREAJUSTE]
           ,[FECHACORTE]
           ,[TEACONSEGURO]
           ,[TEASINSEGURO]
           ,[ESTAVIGENTECLASIFICACION]
           ,[BLOQUEADOTRANSACCIONOPERATIVA]
           ,[NUMEROVERIFICADOR]
           ,[NUMEROOPERACION]
           ,[IDENTIFICACIONSUJETOORIGINAL]
           ,[TIPOIDENTIFICACIONSUJETOORIGIN]
           ,[SALDOVENCIDO]
           ,[ESPAGOPERIODICO]
           ,[BASECALCULO]
           ,[SECUENCIALCLIENTEPRINCIPAL]
           ,[TASAINTERES]
           ,[TIRCONSEGURO]
           ,[TIRSINSEGURO]
           ,[NUMEROPAGARE]
           ,[SECMIGRA]
           ,[SECUENCIALPRESTAMO]
           ,[VALORPARAESTARALDIA]
           ,[VALORCANCELARHASTACUOTACURSO]
           ,[VALORPROYECTADOHASTACUOTACURSO]
           ,[VALORPARACANCELAR]
           ,[DIASATRASO]
           ,[PRIMERACUOTAATRASADA]
           ,[FECHAPROXIMOPAGO]
           ,[INFORMACIONCOMPLEMENTARIA]
           ,[PORVENCER]
           ,[NODEVENGA]
           ,[VENCIDO]
           ,[FECHAREPORTE]
		   ,OFICINA
		   ,NOMBRES
		   ,SALDODISPONIBLE
		   ,NUMEROCLIENTE
		   ,NUMERO_OPERACIONES
		   ,NOMBREPRODUCTO
		   ,AHORROPROGRAMADO
		   )
	select 
	SECUENCIAL,	NUMEROPRESTAMO,	SECUENCIALEMPRESA,	CODIGOTIPOPRESTAMO	,CODIGOPRODUCTOCARTERA,	SECUENCIALSEGMENTOINTERNO,	SECUENCIALCONDICIONTABLAAMORTZ,	CODIGOSUBCALIFICACIONCONTABLE,FRECUENCIAPAGO,	NUMEROCUOTAS,	DEUDAINICIAL,	VALORENTREGADO
	,FECHAADJUDICACION,	FECHAVENCIMIENTO,	SECUENCIALMONEDA,	CODIGOESTADOPRESTAMO,	SALDOACTUAL,	CALIFICACIONACTUAL,CALIFICACIONPEOR,	CODIGOUSUARIOOFICIAL,	SECUENCIALOFICINA,	COBRAPORROL,	SEREAJUSTA,	DIASREAJUSTE
	,FECHACORTE,	TEACONSEGURO,	TEASINSEGURO,	ESTAVIGENTECLASIFICACION,BLOQUEADOTRANSACCIONOPERATIVA,	NUMEROVERIFICADOR,	NUMEROOPERACION,	IDENTIFICACIONSUJETOORIGINAL,	TIPOIDENTIFICACIONSUJETOORIGIN,	SALDOVENCIDO	,ESPAGOPERIODICO,	BASECALCULO
	,SECUENCIALCLIENTEPRINCIPAL,	TASAINTERES,	TIRCONSEGURO,	TIRSINSEGURO,	NUMEROPAGARE,	SECMIGRA	,SECUENCIALPRESTAMO,	VALORPARAESTARALDIA
	,VALORCANCELARHASTACUOTACURSO,	VALORPROYECTADOHASTACUOTACURSO,	VALORPARACANCELAR,	DIASATRASO,	PRIMERACUOTAATRASADA,	FECHAPROXIMOPAGO,	INFORMACIONCOMPLEMENTARIA
	,PORVENCER,	NODEVENGA,	VENCIDO, getdate() FECHAREPORTE ,OFICINA, NOMBRES, SALDODISPONIBLE,NUMEROCLIENTE,NUMERO_OPERACIONES,NOMBREPRODUCTO,AHORROPROGRAMADO
	from #TEMP A

  /* PRE JUDICIAL AL DIA */
  select * from #TEMP A

	

END


